In [56]:
#importing libraries that I might use
import pandas as pd 
from tabulate import tabulate

In [57]:
#creating a file path to the excel file
excel_file_path = '/Users/luisabarros/On demand project/Find_Payments.xlsx'

In [58]:
#creating a data frame
df = pd.read_excel(excel_file_path)
print(df)

                                              Payment  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10        Payroll Payment: Kathy Gresser - 2024 01 12
11          Payroll Payment: Alisha Sedo - 2024 01 15
12        Payroll Payment: Johnathon Day - 2024 01 15
13        Payroll Payment: Johnathon Day - 2024 01 15
14  Payroll Payment: Jennifer Hutchinson - 2024 01 15
15           Payroll Payment: Amy Turner - 2024 01 15
16     Payroll Payment: Angela Hernandez - 2024 01 15
17    Payroll Payment: Michael C Chuckta - 2024 01 15
18      Payroll Payment: Patricia McCort - 2024 01 15
19     Payroll Payment: RaemaLynn Webber - 2024 01 15
20          Payroll Payment: Karissa Orr - 2024 01 16
21  Payroll Payment: Theresa Gates (Terminated) - ...
22  Payroll Payment: Michael Waddell (Terminated) ...
23  Payroll Payment: Michele Babin (Terminated) - ...
24  Payroll Payment: Brad Bates (Terminated) - 202...
25  Payroll Payment: Cynthia Morgan (Terminated) -...

             Payment Category                            Company  \
0                         NaN                                NaN
1                         NaN                                NaN
2                         NaN                                NaN
3                         NaN                                NaN
4                         NaN                                NaN
5                         NaN                                NaN
6                         NaN                                NaN
7                         NaN                                NaN
8                         NaN                                NaN
9                         NaN                                NaN
10  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
11  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
12  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
13  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
14  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
15  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
16  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
17  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
18  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
19  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
20  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
21  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
22  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
23  Payroll Off-Cycle Payment  LE0006 St. Vincent Home Care, LLC
24  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC
25  Payroll Off-Cycle Payment           LE0004 FC Compassus, LLC

                 Status                 Payee / Payor Transaction Date  \
0                   NaN                           NaN              NaT
1                   NaN                           NaN              NaT
2                   NaN                           NaN              NaT
3                   NaN                           NaN              NaT
4                   NaN                           NaN              NaT
5                   NaN                           NaN              NaT
6                   NaN                           NaN              NaT
7                   NaN                           NaN              NaT
8                   NaN                           NaN              NaT
9                   NaN                           NaN              NaT
10  Awaiting Settlement                 Kathy Gresser       2024-01-12
11  Awaiting Settlement                   Alisha Sedo       2024-01-15
12  Awaiting Settlement                 Johnathon Day       2024-01-15
13  Awaiting Settlement                 Johnathon Day       2024-01-15
14  Awaiting Settlement           Jennifer Hutchinson       2024-01-15
15  Awaiting Settlement                    Amy Turner       2024-01-15
16  Awaiting Settlement              Angela Hernandez       2024-01-15
17  Awaiting Settlement             Michael C Chuckta       2024-01-15
18  Awaiting Settlement               Patricia McCort       2024-01-15
19  Awaiting Settlement              RaemaLynn Webber       2024-01-15
20  Awaiting Settlement                   Karissa Orr       2024-01-16
21  Awaiting Settlement    Theresa Gates (Terminated)       2024-01-19
22  Awaiting Settlement  Michael Waddell (Terminated)       2024-01-19
23  Awaiting Settlement    Michele Babin (Terminated)       2024-01-19
24  Awaiting Settlement       Brad Bates (Terminated)       2024-01-19
25  Awaiting Settlement   Cynthia Morgan (Terminated)       2024-01-19

    Payment Memo            Bank Account    Payment Type  Settlement Run  \
0            NaN                     NaN             NaN             NaN
1            NaN                     NaN             NaN             NaN
2            NaN                     NaN             NaN             NaN
3            NaN                     NaN             NaN             NaN
4            NaN                     NaN             NaN             NaN
5            NaN                     NaN             NaN             NaN
6            NaN                     NaN             NaN             NaN
7            NaN                     NaN             NaN             NaN
8            NaN                     NaN             NaN             NaN
9            NaN                     NaN             NaN             NaN
10           NaN  Alight Bank of America  Direct Deposit             NaN
11           NaN  Alight Bank of America  Direct Deposit             NaN
12           NaN  Alight Bank of America  Direct Deposit             NaN
13           NaN  Alight Bank of America  Direct Deposit             NaN
14           NaN  Alight Bank of America  Direct Deposit             NaN
15           NaN  Alight Bank of America  Direct Deposit             NaN
16           NaN  Alight Bank of America  Direct Deposit             NaN
17           NaN  Alight Bank of America  Direct Deposit             NaN
18           NaN  Alight Bank of America  Direct Deposit             NaN
19           NaN  Alight Bank of America  Direct Deposit             NaN
20           NaN  Alight Bank of America  Direct Deposit             NaN
21           NaN  Alight Bank of America  Direct Deposit             NaN
22           NaN  Alight Bank of America  Direct Deposit             NaN
23           NaN  Alight Bank of America  Direct Deposit             NaN
24           NaN  Alight Bank of America  Direct Deposit             NaN
25           NaN  Alight Bank of America  Direct Deposit             NaN

    Payment Group Transaction Reference  Payment Amount Currency  \
0             NaN                   NaN             NaN      NaN
1             NaN                   NaN             NaN      NaN
2             NaN                   NaN             NaN      NaN
3             NaN                   NaN             NaN      NaN
4             NaN                   NaN             NaN      NaN
5             NaN                   NaN             NaN      NaN
6             NaN                   NaN             NaN      NaN
7             NaN                   NaN             NaN      NaN
8             NaN                   NaN             NaN      NaN
9             NaN                   NaN             NaN      NaN
10            NaN          No Reference          512.73      USD
11            NaN          No Reference           25.97      USD
12            NaN          No Reference          548.34      USD
13            NaN          No Reference           96.77      USD
14            NaN          No Reference         1091.45      USD
15            NaN          No Reference          263.27      USD
16            NaN          No Reference           98.40      USD
17            NaN          No Reference         1976.21      USD
18            NaN          No Reference          144.48      USD
19            NaN          No Reference          999.62      USD
20            NaN          No Reference           95.04      USD
21            NaN          No Reference         2470.68      USD
22            NaN          No Reference         1555.86      USD
23            NaN          No Reference          805.61      USD
24            NaN          No Reference         1304.82      USD
25            NaN          No Reference         2603.24      USD

   Reconciliation Status                                             Period  \
0                    NaN                                                NaN
1                    NaN                                                NaN
2                    NaN                                                NaN
3                    NaN                                                NaN
4                    NaN                                                NaN
5                    NaN                                                NaN
6                    NaN                                                NaN
7                    NaN                                                NaN
8                    NaN                                                NaN
9                    NaN                                                NaN
10          Unreconciled  01/01/2024 - 01/07/2024  (Weekly Period Schedule)
11          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
12          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
13          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
14          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
15          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
16          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
17          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
18          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
19          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
20          Unreconciled  01/01/2024 - 01/07/2024  (Weekly Period Schedule)
21          Unreconciled  01/01/2024 - 01/14/2024  (Week B Payroll Perio...
22          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
23          Unreconciled  01/01/2024 - 01/14/2024  (Week B Payroll Perio...
24          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)
25          Unreconciled  01/08/2024 - 01/14/2024  (Weekly Period Schedule)

                    Pay Group                                    Result Type
0                         NaN                                            NaN
1                         NaN                                            NaN
2                         NaN                                            NaN
3                         NaN                                            NaN
4                         NaN                                            NaN
5                         NaN                                            NaN
6                         NaN                                            NaN
7                         NaN                                            NaN
8                         NaN                                            NaN
9                         NaN                                            NaN
10    Weekly Hourly Pay Group  On Demand Payment - Additional (Prior Period)
11    Weekly Hourly Pay Group                 On Demand Payment - Additional
12    Weekly Hourly Pay Group                 On Demand Payment - Additional
13    Weekly Hourly Pay Group                 On Demand Payment - Additional
14  Weekly Salaried Pay Group                 On Demand Payment - Additional
15    Weekly Hourly Pay Group                 On Demand Payment - Additional
16    Weekly Hourly Pay Group                 On Demand Payment - Additional
17    Weekly Hourly Pay Group                 On Demand Payment - Additional
18    Weekly Hourly Pay Group                 On Demand Payment - Additional
19    Weekly Hourly Pay Group                 On Demand Payment - Additional
20    Weekly Hourly Pay Group  On Demand Payment - Additional (Prior Period)
21  History - Week B Salaried                 On Demand Payment - Additional
22  Weekly Salaried Pay Group                 On Demand Payment - Additional
23  History - Week B Salaried                 On Demand Payment - Additional
24  Weekly Salaried Pay Group                 On Demand Payment - Additional
25  Weekly Salaried Pay Group                 On Demand Payment - Additional

In [59]:
# Specifying the columns I want to display
selected_columns = ['Company', 'Status', 'Transaction Date', 'Payment Amount', 'Pay Group']
selected_df = df[selected_columns]
print(selected_df)

                              Company               Status Transaction Date  \
0                                 NaN                  NaN              NaT
1                                 NaN                  NaN              NaT
2                                 NaN                  NaN              NaT
3                                 NaN                  NaN              NaT
4                                 NaN                  NaN              NaT
5                                 NaN                  NaN              NaT
6                                 NaN                  NaN              NaT
7                                 NaN                  NaN              NaT
8                                 NaN                  NaN              NaT
9                                 NaN                  NaN              NaT
10  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-12
11  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
12  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
13  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
14           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
15           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
16           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
17           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
18           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
19  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
20           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-16
21           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
22           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
23  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-19
24           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
25           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19

    Payment Amount                  Pay Group
0              NaN                        NaN
1              NaN                        NaN
2              NaN                        NaN
3              NaN                        NaN
4              NaN                        NaN
5              NaN                        NaN
6              NaN                        NaN
7              NaN                        NaN
8              NaN                        NaN
9              NaN                        NaN
10          512.73    Weekly Hourly Pay Group
11           25.97    Weekly Hourly Pay Group
12          548.34    Weekly Hourly Pay Group
13           96.77    Weekly Hourly Pay Group
14         1091.45  Weekly Salaried Pay Group
15          263.27    Weekly Hourly Pay Group
16           98.40    Weekly Hourly Pay Group
17         1976.21    Weekly Hourly Pay Group
18          144.48    Weekly Hourly Pay Group
19          999.62    Weekly Hourly Pay Group
20           95.04    Weekly Hourly Pay Group
21         2470.68  History - Week B Salaried
22         1555.86  Weekly Salaried Pay Group
23          805.61  History - Week B Salaried
24         1304.82  Weekly Salaried Pay Group
25         2603.24  Weekly Salaried Pay Group

In [60]:
# Filtering rows where the 'Status' column is 'Awaiting Settlement'
awaiting_settlement_df = selected_df[selected_df['Status'] == 'Awaiting Settlement']
print(awaiting_settlement_df)

                              Company               Status Transaction Date  \
10  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-12
11  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
12  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
13  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
14           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
15           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
16           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
17           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
18           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-15
19  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-15
20           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-16
21           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
22           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
23  LE0006 St. Vincent Home Care, LLC  Awaiting Settlement       2024-01-19
24           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19
25           LE0004 FC Compassus, LLC  Awaiting Settlement       2024-01-19

    Payment Amount                  Pay Group
10          512.73    Weekly Hourly Pay Group
11           25.97    Weekly Hourly Pay Group
12          548.34    Weekly Hourly Pay Group
13           96.77    Weekly Hourly Pay Group
14         1091.45  Weekly Salaried Pay Group
15          263.27    Weekly Hourly Pay Group
16           98.40    Weekly Hourly Pay Group
17         1976.21    Weekly Hourly Pay Group
18          144.48    Weekly Hourly Pay Group
19          999.62    Weekly Hourly Pay Group
20           95.04    Weekly Hourly Pay Group
21         2470.68  History - Week B Salaried
22         1555.86  Weekly Salaried Pay Group
23          805.61  History - Week B Salaried
24         1304.82  Weekly Salaried Pay Group
25         2603.24  Weekly Salaried Pay Group

In [61]:
#Figuring out the unique values that has in Column 'Transaction Date'
unique_dates = awaiting_settlement_df ['Transaction Date'].unique()
print(unique_dates)

<DatetimeArray>
['2024-01-12 00:00:00', '2024-01-15 00:00:00', '2024-01-16 00:00:00',
 '2024-01-19 00:00:00']
Length: 4, dtype: datetime64[ns]

In [62]:
#Figuring out the unique values that has in Column 'Pay Group' for "awaiting_settlement_df"
unique_pay_group = awaiting_settlement_df ['Pay Group'].unique()
print(unique_pay_group)

['Weekly Hourly Pay Group' 'Weekly Salaried Pay Group'
 'History - Week B Salaried']

In [63]:
#Figuring out the unique values that has in Column 'Company' for "awaiting_settlement_df"
unique_company = awaiting_settlement_df ['Company'].unique()
print(unique_company)

['LE0006 St. Vincent Home Care, LLC' 'LE0004 FC Compassus, LLC']

In [64]:
# Creating an empty DataFrame to store the results
dfs = []

In [65]:
# Loop through unique combinations of 'Transaction Date', 'Company', and 'Pay Group'
for date in unique_dates:
    for company in unique_company:
        for pay_group in unique_pay_group:
            # Create conditions for each combination
            date_condition = (awaiting_settlement_df['Transaction Date'] == date)
            company_condition = (awaiting_settlement_df['Company'] == company)
            pay_group_condition = (awaiting_settlement_df['Pay Group'] == pay_group)

            # Apply conditions and calculate the sum of 'Payment Amount'
            sum_result = awaiting_settlement_df[date_condition & company_condition & pay_group_condition]['Payment Amount'].sum()

            # Create a DataFrame for the current combination
            temp_df = pd.DataFrame({'Date': [date], 'Company': [company], 'Pay Group': [pay_group], 'Sum': [sum_result]})

            # Append the DataFrame to the list
            dfs.append(temp_df)

# Concatenate all DataFrames in the list
result_df = pd.concat(dfs, ignore_index=True)

In [70]:
# Filter rows where the 'Sum' column is not equal to 0
filtered_result_df = result_df[result_df['Sum'] != 0]

# Print the filtered DataFrame as a beautiful table
print(tabulate(filtered_result_df, headers='keys', tablefmt='pretty', showindex=False))

+---------------------+-----------------------------------+---------------------------+---------+
|        Date         |              Company              |         Pay Group         |   Sum   |
+---------------------+-----------------------------------+---------------------------+---------+
| 2024-01-12 00:00:00 | LE0006 St. Vincent Home Care, LLC |  Weekly Hourly Pay Group  | 512.73  |
| 2024-01-15 00:00:00 | LE0006 St. Vincent Home Care, LLC |  Weekly Hourly Pay Group  | 1670.7  |
| 2024-01-15 00:00:00 |     LE0004 FC Compassus, LLC      |  Weekly Hourly Pay Group  | 2482.36 |
| 2024-01-15 00:00:00 |     LE0004 FC Compassus, LLC      | Weekly Salaried Pay Group | 1091.45 |
| 2024-01-16 00:00:00 |     LE0004 FC Compassus, LLC      |  Weekly Hourly Pay Group  |  95.04  |
| 2024-01-19 00:00:00 | LE0006 St. Vincent Home Care, LLC | History - Week B Salaried | 805.61  |
| 2024-01-19 00:00:00 |     LE0004 FC Compassus, LLC      | Weekly Salaried Pay Group | 5463.92 |
| 2024-01-19 00:00:00 |     LE0004 FC Compassus, LLC      | History - Week B Salaried | 2470.68 |
+---------------------+-----------------------------------+---------------------------+---------+

In [73]:
filtered_result_df.head()

,Date,Company,Pay Group,Sum
0,2024-01-12,"LE0006 St. Vincent Home Care, LLC",Weekly Hourly Pay Group,512.73
6,2024-01-15,"LE0006 St. Vincent Home Care, LLC",Weekly Hourly Pay Group,1670.70
9,2024-01-15,"LE0004 FC Compassus, LLC",Weekly Hourly Pay Group,2482.36
10,2024-01-15,"LE0004 FC Compassus, LLC",Weekly Salaried Pay Group,1091.45
15,2024-01-16,"LE0004 FC Compassus, LLC",Weekly Hourly Pay Group,95.04